{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
 Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>

    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
                {% endfor %}
        </ul>
        <p>Total: BDT {{ cart.get_total_price }}</p>
    </div>
    <p>Please enter the following informations. Required fields are marked <small>*</small></p>
    <form method="POST" class="order-form">
        <div class="form-group form-control-lg">
        {{ form|crispy }}
        <p><input type="submit" value="Place order" style="margin-top: 4%;"> </p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}